body{
  height: 100%;
}

.main_background {
  
  /*background section*/
  background-image: url("./asset/background.jpg");  /*background image form assets files*/
  background-repeat: no-repeat; /*no room for duplication in site background, its not 1980 eny more ...*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /*alignments -> center of screen in full screen mode!*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.operation_card_view {


  /*alignments -> center of screen!*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  /* Centering the div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*card view styles*/
  gap: 30px; /*gap will help us to set a space between our components*/
  padding: 20px; /*padding form borders for inside components*/
  border-radius: 0%; /* No Rounded corners, new style in 2024... */
  border: 2px solid rgb(52, 104, 192); /* solid nice border */

 
}